Repository softboiler/softboiler.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync, pytest-fast-only

sync:
  name: sync
  stages:
  - pre-commit
  - post-checkout
  pass_filenames: false
  language: system
  entry: pwsh scripts/Sync-Py.ps1

pytest-fast-only:
  name: pytest-fast-only
  pass_filenames: false
  language: system
  entry: 'pwsh -Command "pytest -m ''not slow'' --suppress-no-test-exit-code"
  
    '

Add template and type stub submodules
  .gitmodules
Due: none

Change repo url
  docs/conf.py
Due: pytest-fast-only

Sync project with template
  .copier-answers.yml
  .vscode/tasks.json
  scripts/Initialize-Repo.ps1
  scripts/Sync-Py.ps1
  scripts/Sync-Template.ps1
Due: sync, pytest-fast-only

Stay put in CI
  scripts/Sync-Py.ps1
Due: sync, pytest-fast-only

Remove static publishing workflow
  .github/workflows/static.yml
  index.html
Due: none

Bump Python
  .github/workflows/ci.yml
  .github/workflows/high.yml
  .github/workflows/lock.yml
Due: none

Sync project with template
  .copier-answers.yml
  .github/workflows/release.yml
  scripts/softboiler_github_io_tools/sync.py
Due: sync, pytest-fast-only

Sync project with template
  .copier-answers.yml
  .github/workflows/ci.yml
  .github/workflows/high.yml
  .github/workflows/lock.yml
  scripts/softboiler_github_io_tools/sync.py
Due: sync, pytest-fast-only

Sync project with template
  .copier-answers.yml
Due: none

Reduce CI matrix
  .copier-answers.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/high.yml
  .github/workflows/lock.yml
  README.md
  docs/conf.py
Due: pytest-fast-only

See if we can trigger Renovate
  .renovaterc.json
Due: none

Comments not supported...
  .renovaterc.json
Due: none

Limit Renovate by schedule
  .renovaterc.json
Due: none

Re-sync Copier answers with submodule
  .copier-answers.yml
  .github/workflows/ci.yml
  .github/workflows/high.yml
  .github/workflows/lock.yml
Due: none

Reduce the matrix
  .github/workflows/ci.yml
  .github/workflows/contrib.yml
  .github/workflows/high.yml
  .github/workflows/lock.yml
Due: none

Missed one
  .github/workflows/contrib.yml
Due: none

Try force
  .github/workflows/ci.yml
  .github/workflows/lock.yml
Due: none

Lock
  lock.json
Due: none

Remove force-push now we're not protecting pushes
  .github/workflows/ci.yml
  .github/workflows/lock.yml
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Bump version
  .copier-answers.yml
  .devcontainer/devcontainer.json
  .github/workflows/changerelease.yml
  .github/workflows/ci.yml
  .github/workflows/contrib.yml
  .github/workflows/high.yml
  .github/workflows/release.yml
  .sourcery.yaml
  docs/contributing.md
  lock.json
  pyproject.toml
  requirements/requirements.txt
  scripts/Initialize-LinuxMacOS.sh
  scripts/Initialize-Windows.ps1
  scripts/softboiler_github_io_tools/sync.py
Due: sync, pytest-fast-only

Update changelog
  CHANGELOG.md
Due: none

Update release workflow
  .github/workflows/release.yml
Due: none

Fix linter warnings
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
  docs/softboiler_github_io_docs/docstrings.py
  scripts/softboiler_github_io_tools/add_changes.py
Due: sync, pytest-fast-only

Sync and lock highest dependencies
  lock-high.json
Due: none

Sync with template
  .all-contributorsrc
  .copier-answers.yml
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  CONTRIBUTORS.md
  README.md
  docs/conf.py
  lock.json
  requirements/dev.in
  requirements/requirements.txt
  requirements/uv.txt
  scripts/Initialize-Shell.ps1
  scripts/Initialize-Windows.ps1
  scripts/Sync-Py.ps1
  scripts/pyproject.toml
  scripts/softboiler_github_io_tools/__main__.py
  scripts/softboiler_github_io_tools/add_changes.py
  scripts/softboiler_github_io_tools/sync.py
Due: sync, pytest-fast-only

Bump uv
  lock.json
  requirements/requirements.txt
  requirements/uv.txt
Due: sync, pytest-fast-only

Sync with template
  .copier-answers.yml
  .github/workflows/ci.yml
  .github/workflows/high.yml
  .gitignore
  .gitmodules
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/tasks.json
  pyproject.toml
  scripts/Initialize-Machine.ps1
  scripts/Initialize-Repo.ps1
  scripts/Initialize-Shell.ps1
  scripts/Sync-Py.ps1
  scripts/softboiler_github_io_tools/sync.py
Due: sync, pytest-fast-only

Path conditions:
  sync: any of: (?x)^(
  .*/pyproject\.toml
  |docs/.*\.ipynb
  |params\.yaml
  |requirements/.*
  |scripts/.*
)$

  pytest-fast-only: any of: (?x)^(
  .*/pyproject\.toml
  |docs/.*
  |requirements/.*
  |scripts/.*
  |src/.*
  |tests/.*
)$

